#kakao-body {
  background-image: url(../assets/images/background_image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kakao-h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 20px;
}

#kakao-button {
  text-align: center;
  vertical-align: middle;
}