/* .main-body {
  background-image: url(../assets/images/background_image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
#main-swiper {
  height: 100vh;
}

#main-canvas {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#main2 {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
}

#main2-h1 {
  text-align: center;
  color: white;
  margin: 0;
}

#main3 {
  height: 100vh;
  width: 100vw;
  background-color: rgb(40, 40, 40);
}

.swiper-button-next {
  /* background-image: url("C:\Users\SSAFY\Desktop\S07P22A202\frontend\public\favicon.ico"); */
  /* background-size: contain;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  right: 69px; */

}
.swiper-button-prev {
  /* background-image: url("C:\Users\SSAFY\Desktop\S07P22A202\frontend\public\favicon.ico"); */
  /* background-size: contain;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  left: 69px; */
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.menu-span {
  position: absolute;
  bottom: 70%;
  font-size: 2400%;
  color: white;

}

