#main-body {
  background-image: url(../assets/images/background_image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 50px;
}

#main-button {
  text-align: center;
}

#main-canvas {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

/* Pagination Styles
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
} */