#menu-container {
  opacity: 0;
  animation: menufade 5s
}

#menu-canvas:hover {
  cursor: pointer;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
}


@keyframes menufade{
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}